html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; text-align: center;}
#div1 { background: #DDD; }
#div2 { background: #AAA; }
#div3 { background: #777; }
#div4 { background: #444; }
#graph {
        -ms-zoom: 0.75;
        -moz-transform: scale(2);
        -moz-transform-origin: -2 2;
        -o-transform: scale(2);
        -o-transform-origin: -2 2;
        -webkit-transform: scale(2);
        -webkit-transform-origin: -2 2;
    }
